/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2018, 12:10:58 PM
    Author     : Asar
*/

h3
{
    background-color: appworkspace;
}
body
{
    background-color: aliceblue;
}